.digitalization {

  .container {
    max-width: var(--maxWidth);
    margin: 0 auto;

    .digitalizationTitle {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h5 {
        color: var(--Text-color, #222);
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin: 0;
        max-width: 476px;
      }

      p {
        color: var(--Text-color, #222);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 190px 0;

      }

    }

    .digitalizationContent {
      .digitalizationContentBlock {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .digitalizationBorder {
          position: absolute;
          width: 700px;
          height: 400px;
          transform: rotate(159.412deg);
          flex-shrink: 0;
          border-radius: 100%;
          border: 1px solid var(--black, #161616);
        }

        .digitalizationText {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 103px;
          position: relative;
        }

        .digitalizationNomer {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-color: #222;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-left: 100px;

          span {
            color: var(--white, #FFF);
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 0;

          }
        }

        p {
          color: #191A1B;
          text-align: center;
          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          margin: 0;

        }
      }
    }
  }
}