:root {
  --bg: #161616;
  --pageP: 100px;
  --maxWidth: 1240px;
}

@media screen and (max-width: 1260px) {
  :root {
    --pageP: 30px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --pageP: 20px;
  }
}
body {
  background-color: var(--bg);
  padding: 0;

  box-sizing: border-box;
  margin: 0;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

a {
  text-decoration: none;
}

.JDKLASJDKLAD {
  height: 100vh;
}
