.testPage {
  color: #fff;
}

.Accordion {
  width: 100%;
  background-color: #5e6458;
  position: relative;
  overflow: hidden;
  .AccordionTitel {
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: var(--pageP);

    .AccordionTitelBlock1 {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 50px;
        font-weight: 400;
        line-height: 66px;
        text-align: left;
        margin: 0;
        padding: 0;
      }
      .AccordionTitelBlock1Image {
        position: relative;
        z-index: 111;
      }
    }
  }
  .AccordionTitel1 {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    flex-direction: column;
    p {
      color: var(--white, #fff);
      /* Text */
      justify-content: flex-end;
      display: flex;
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      flex-direction: column;
      align-items: flex-end;
    }
    a {
      color: var(--white, #fff);
      /* Text */
      justify-content: flex-end;
      display: flex;
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        margin: 0;
        padding: 0;
        color: var(--white, #fff);
        text-align: center;
        opacity: 0.7;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
      h3 {
        padding: 0;
        margin: 0;
        color: #ff755f;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  @media screen and (max-width: 1080px) {
    .AccordionTitel {
      .AccordionTitelBlock1 {
        h1 {
          color: var(--white, #fff);
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .AccordionTitelBlock1Image {
          width: 152.452px;
          height: 119.103px;
        }
      }
    }

    @media screen and (max-width: 662px) {
      .AccordionTitel {
        .AccordionTitelBlock1 {
          h1 {
            font-size: 26px;
            br {
              display: none !important;
            }
          }
          .AccordionTitelBlock1Image {
            display: none;
          }
        }
      }

      .AccordionTitel1 {
        p {
          font-size: 14px;
        }


          h3 {
            font-size: 18px !important;
          }
        
          a {
            font-size: 14px;
          }
      }
    }
  }
}

.BgSvg {
  position: absolute;
  right: 3px;
  top: -304px;
  @media screen and (max-width: 662px) {
    display: none;
  }
}
